* {
  box-sizing: border-box;
}
body {
  background-color: #000000;
  font-size: 17px;
  font-family: 'Oxygen', sans-serif;
  color:  #2BB9D6;
}
/* FLEX CONTAINERS */

.flex-container {
  width: 100%;
  display: flex;
}
.col-10 {
  width: 10%;
  padding: 5px 10px;
}
.col-25 {
  width: 25%;
  padding: 5px 10px;
}
.col-50 {
  width: 50%;
  padding: 5px 10px;
}
.col-75 {
  width: 75%;
  padding: 5px 10px;
}

/* TEXTBOX */

.tb-blue {
  background-color: #2BB9D6;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 12px;
}

/* JUSTIFY CONTENT */

.jc-evem {
  justify-content: space-evenly;
}
.jc-around {
  justify-content: space-around;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}

/* LINKS */

a {
  text-decoration: none;
  color: #2B72D6;
  transition: 0.3s;
}
a:hover {
  color: #817281;
}
.navlink {
  padding: 15px 150px;
  border: 2px solid #000000;
  transition: 0.3s;
}
.navlink:hover {
  border: 2px solid #2BB9D6;
}

/* AREAS */

.header {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 200px;
}
.footer {
  height: 200px;
  width: 100%;
  background-color: #2BD643;
  color: #ffffff;
  border: 2px solid #ffffff;
}
